{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div class="container order-details mb-5">
  <div class="row">
    <div class="col">
      <h1>Order details</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12 order-main-information col-md-4">
      <ul class="list-group">
        <li class="list-group-item text-start">
          <div class="fw-bold">Order number</div>
          {{ order.name }}
        </li>
        <li class="list-group-item text-start">
          {%- assign order_date = order.created_at | date: "%d %b %Y" -%}
          <div class="fw-bold">Order date</div>
          {{ order_date }}
        </li>
        <li class="list-group-item text-start">
          <div class="fw-bold">Order total</div>
          {{ order.total_net_amount | money_with_currency }}
        </li>
      </ul>

      <h3>Shipping details</h3>
      <ul class="list-group order-status">
        <li class="list-group-item text-start">
          {{ order.fulfillment_status_label }}
        </li>
      </ul>
      
      {%- assign fulfillment = order.fulfillments.first -%}
      <ul class="list-group">
        <li class="list-group-item text-start">
          <div class="fw-bold">Shipping number</div>
          {{ fulfillment.tracking_number }}
        </li>
        <li class="list-group-item text-start">
          <div class="fw-bold">Shipping company</div>
          {{ fulfillment.tracking_company }}
        </li>
        <li class="list-group-item text-start">
          <div class="fw-bold">Address</div>
          <!-- {{ order.shipping_address | format_address }} -->
          <!-- {{ order.shipping_address | json }} -->
          {% assign shipping_address = order.shipping_address %}
          <p>
            {{ shipping_address.first_name }} {{ shipping_address.last_name }}
            {% if shipping_address.company %}
              <br>
              {{ shipping_address.company }}
            {% endif %}
            <br>
            {{ shipping_address.address1 }}
            {% if shipping_address.address2 %}
              <br>
              {{ shipping_address.address2 }}
            {% endif %}
            <br>
            {{ shipping_address.city }}, {{ shipping_address.province_code }}, {{ shipping_address.zip }}
          </p>
        </li>
      </ul>
    </div>
    <div class="col col-md-8">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3>Items</h3>
          </div>
        </div>
      </div>
      <div class="container mt-4">
        {% for line_item in order.line_items %}
              <div class="row line-item-product d-flex">
                <div class="col-auto">
                  <img src="{{ line_item.product.images[0].src | image_url: width: 96 }}">
                </div>
                <div class="col">
                  <div class="line-item-product-description">
                    <h6 class="mb-1">{{ line_item.title }}</h6>
                    <p class="mb-1"><span>{{ line_item.product.type }}</span></p>
                    <p class="mb-1 d-flex">{{ line_item.product.price | money }} 
                      <a href="/pages/product-review?product_id={{ line_item.product.id }}" class="btn btn-link ms-auto">Leave review</a>
                      <!-- <button type="button" class="btn btn-link ms-auto" data-bs-toggle="modal" data-bs-target="#reviewModal">
                        Leave review
                      </button> -->
                    </p>
                  </div>
                  </div>
              </div>
            {% endfor %}

        <hr class="divider d-md-none">

        <h3>Order summary</h3>
        <div class="order-summary">
          {% assign total_line_items_price = 0 %}
          <div class="row sub-total mb-2">
            <div class="col-8 text-start">
              <strong>Items</strong>
            </div>
            <div class="col-4 text-end">
              

              {% for item in order.line_items %}
                {% assign item_price = item.product.price %}
                {% assign total_line_items_price = total_line_items_price | plus: item_price %}
              {% endfor %}
              {{ total_line_items_price | money }}

              <!-- <p>{{ order.total_price | money }}</p> -->
              <!-- <p>total_discounts: {{ order.total_discounts | money }}</p> -->
              <!-- <p>subtotal_price: {{ order.subtotal_price | money }}</p> -->
              <!-- <p>total_price: {{ order.total_price | money }}</p> -->
            </div>
          </div>

          {% assign subscription_sidcount = total_line_items_price | minus: order.total_discounts | minus: order.line_items_subtotal_price %}
          {% if subscription_sidcount > 0 %}
            <div class="row sub-total mb-2">
              <div class="col-8 text-start">
                <strong>Subscription discount</strong>
              </div>
              <div class="col-4 text-end">
                
                -{{ subscription_sidcount  | money }}
                
              </div>
            </div>
          {%  endif %}
          
          {% if order.total_discounts > 0 %}
            <div class="row sub-total mb-2">
              <div class="col-8 text-start">
                <strong>Bundle discount</strong>
              </div>
              <div class="col-4 text-end">
                
                -{{ order.total_discounts  | money }}
                
              </div>
            </div>
          {% endif %}
          <!-- <div class="row sub-total mb-2">
            <div class="col-8 text-start">
              <strong>{{ 'customer.order.subtotal' | t }}</strong>
            </div>
            <div class="col-4 text-end">
              
              {{ order.line_items_subtotal_price | money }}
              
            </div>
          </div> -->

          <!-- <div class="jdgm-widget jdgm-preview-badge" data-id="add-your-product-id"></div> -->

          <!-- The Modal -->
          <div class="modal fade" id="reviewModal" tabindex="-1" aria-labelledby="reviewModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="reviewModalLabel">Submit a Review</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form id="reviewForm" method="POST" action="https://judge.me/api/v1/reviews">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" value="Nazariy" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="nazariy.papizh@gmail.com" required>
    </div>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="number" class="form-control" id="rating" name="rating" value="5" min="1" max="5" required>
    </div>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="A game changer for my dry scalp" required>
    </div>
    <div class="mb-3">
        <label for="body" class="form-label">Review Body</label>
        <textarea class="form-control" id="body" name="body" rows="4" required>I’ve been dealing with a flaky scalp for ages, but this leave-in treatment has worked wonders. It’s so lightweight and easy to apply, and my scalp feels hydrated all day. No more dryness or itchiness!</textarea>
    </div>
    <input type="hidden" id="url" name="url" value="886076-cc.myshopify.com">
    <input type="hidden" id="shop_domain" name="shop_domain" value="886076-cc.myshopify.com">
    <input type="hidden" id="platform" name="platform" value="shopify">
    <input type="hidden" id="id" name="id" value="8142320369822">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="submitReview">Submit</button>
                      </div>
                  </div>
              </div>
          </div>
          
          {% if order.cart_level_discount_applications != blank %}
            {% for discount_application in order.cart_level_discount_applications %}
              <div class="row sub-total mb-2">
                <div class="col-8 text-start">
                  <strong>{{ 'customer.order.discount' | t }}</strong>
                  <span class="cart-discount">
                    <span class="svg-wrapper">
                      {{- 'icon-discount.svg' | inline_asset_content -}}
                    </span>
                    {{- discount_application.title | escape -}}
                  </span>
                </div>
                <div class="col-4 text-end">
                  <span>-{{ discount_application.total_allocated_amount | money }}</span>
                </div>
              </div>
            {% endfor %}
          {% endif %}

          
          
        
          {% for tax_line in order.tax_lines %}
            <div class="row sub-total mb-2">
              <div class="col-8 text-start">
                <strong>{{ 'customer.order.tax' | t }}</strong>
                ({{ tax_line.title | escape }} {{ tax_line.rate | times: 100 }}%)
              </div>
              <div class="col-4 text-end">
                {{ tax_line.price | money }}
              </div>
            </div>
          {% endfor %}
        
          {% if order.total_duties %}
            <div class="row sub-total mb-2">
              <div class="col-8 text-start">
                <strong>{{ 'customer.order.total_duties' | t }}</strong>
              </div>
              <div class="col-4 text-end">
                {{ order.total_duties | money }}
              </div>
            </div>
          {% endif %}
        
          {% if order.total_refunded_amount > 0 %}
            <div class="row sub-total mb-2">
              <div class="col-8 text-start">
                <strong>{{ 'customer.order.total_refunded' | t }}</strong>
              </div>
              <div class="col-4 text-end">
                -{{ order.total_refunded_amount | money_with_currency }}
              </div>
            </div>
          {% endif %}
        
          <div class="row total mb-2">
            <div class="col-8 text-start">
              <strong>{{ 'customer.order.total' | t }}</strong>
            </div>
            <div class="col-4 text-end">
              {{ order.total_net_amount | money }}
            </div>
          </div>

        </div>


          <div class="row" style="display: none;">
            <tfoot role="rowgroup">
              <tr role="row">
                <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.subtotal' | t }}
                </td>
                <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">
                  {{ order.line_items_subtotal_price | money }}
                </td>
              </tr>
              {%- if order.cart_level_discount_applications != blank -%}
                <tr role="row">
                  {%- for discount_application in order.cart_level_discount_applications -%}
                    <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                      {{ 'customer.order.discount' | t }}
                      <span class="cart-discount">
                        <span class="svg-wrapper">
                          {{- 'icon-discount.svg' | inline_asset_content -}}
                        </span>
                        {{- discount_application.title | escape -}}
                      </span>
                    </td>
                    <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                      <div>
                        <span>-{{ discount_application.total_allocated_amount | money }}</span>
                        <span class="cart-discount">
                          <span class="svg-wrapper">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                          </span>
                          {{- discount_application.title | escape -}}
                        </span>
                      </div>
                    </td>
                  {%- endfor -%}
                </tr>
              {%- endif -%}
              {%- for shipping_method in order.shipping_methods -%}
                <tr role="row">
                  <td id="RowShipping" role="rowheader" scope="row" colspan="4">
                    {{ 'customer.order.shipping' | t }} ({{ shipping_method.title | escape }})
                  </td>
                  <td
                    headers="RowShipping"
                    role="cell"
                    data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title | escape }})"
                  >
                    {{ shipping_method.price | money }}
                  </td>
                </tr>
              {%- endfor -%}
              {%- for tax_line in order.tax_lines -%}
                <tr role="row">
                  <td id="RowTax" role="rowheader" scope="row" colspan="4">
                    {{ 'customer.order.tax' | t }} ({{ tax_line.title | escape }}
                    {{ tax_line.rate | times: 100 }}%)
                  </td>
                  <td
                    headers="RowTax"
                    role="cell"
                    data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title | escape }} {{ tax_line.rate | times: 100 }}%)"
                  >
                    {{ tax_line.price | money }}
                  </td>
                </tr>
              {%- endfor -%}
              {%- if order.total_duties -%}
                <tr role="row">
                  <td id="RowDuties" role="rowheader" scope="row" colspan="4">{{ 'customer.order.total_duties' | t }}</td>
                  <td headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">
                    {{ order.total_duties | money }}
                  </td>
                </tr>
              {%- endif -%}
              {%- if order.total_refunded_amount > 0 -%}
                <tr role="row">
                  <td id="RowTotalRefund" role="rowheader" scope="row" colspan="3">
                    {{ 'customer.order.total_refunded' | t }}
                  </td>
                  <td
                    headers="RowTotalRefund"
                    role="cell"
                    colspan="2"
                    data-label="{{ 'customer.order.total_refunded' | t }}"
                  >
                    -{{ order.total_refunded_amount | money_with_currency }}
                  </td>
                </tr>
              {%- endif -%}
              <tr role="row">
                <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
                <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">
                  {{ order.total_net_amount | money_with_currency }}
                </td>
              </tr>
            </tfoot>
          </div>


        
      </div>
    </div>
  </div>
</div>




<div class="customer order section-{{ section.id }}-padding">
  <div>
    <h1 class="customer__title">{{ 'customer.account.title' | t }}</h1>
    <a href="{{ routes.account_url }}">{{ 'customer.account.return' | t }}</a>
  </div>

  <div>
    <div>
      <h2>{{ 'customer.order.title' | t: name: order.name }}</h2>
      {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
      <p>{{ 'customer.order.date_html' | t: date: order_date }}</p>
      {%- if order.cancelled -%}
        {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
        <p>{{ 'customer.order.cancelled_html' | t: date: cancelled_at }}</p>
        <p>{{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}</p>
      {%- endif -%}

      <table role="table" class="order-details">
        <caption class="visually-hidden">
          {{ 'customer.order.title' | t: name: order.name }}
        </caption>
        <thead role="rowgroup">
          <tr role="row">
            <th id="ColumnProduct" scope="col" role="columnheader">{{ 'customer.order.product' | t }}</th>
            <th id="ColumnSku" scope="col" role="columnheader">{{ 'customer.order.sku' | t }}</th>
            <th id="ColumnPrice" scope="col" role="columnheader">{{ 'customer.order.price' | t }}</th>
            <th id="ColumnQuantity" scope="col" role="columnheader">{{ 'customer.order.quantity' | t }}</th>
            <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.order.total' | t }}</th>
          </tr>
        </thead>
        <tbody role="rowgroup">
          {%- for line_item in order.line_items -%}
            <tr role="row">
              <td
                id="Row{{ line_item.key }}"
                headers="ColumnProduct"
                role="rowheader"
                scope="row"
                data-label="{{ 'customer.order.product' | t }}"
              >
                <div>
                  {%- if line_item.url != blank -%}
                    <a href="{{ line_item.url }}">{{ line_item.title | escape }}</a>
                  {%- else -%}
                    <p>{{ line_item.title | escape }}</p>
                  {%- endif -%}
                  {%- assign property_size = line_item.properties | size -%}
                  {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
                    <div class="properties">
                      {%- unless line_item.product.has_only_default_variant -%}
                        <span>
                          {{ line_item.variant.title | escape }}
                        </span>
                      {%- endunless -%}
                      {%- unless line_item.selling_plan_allocation == null -%}
                        <span>
                          {{ line_item.selling_plan_allocation.selling_plan.name }}
                        </span>
                      {%- endunless -%}
                      {%- if property_size != 0 -%}
                        {%- for property in line_item.properties -%}
                          {% assign property_first_char = property.first | slice: 0 %}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <span>{{ property.first }}:</span>
                            <span>
                              {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                              {%- else -%}
                                {{ property.last }}
                              {%- endif -%}
                            </span>
                          {%- endif -%}
                        {%- endfor -%}
                      {%- endif -%}
                    </div>
                  {%- endunless -%}

                  {%- if line_item.line_level_discount_allocations != blank -%}
                    <ul role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                        <li>
                          <span class="svg-wrapper">
                            {{- 'icon-discount.svg' | inline_asset_content -}}
                          </span>
                          {{- discount_allocation.discount_application.title | escape }} (-
                          {{- discount_allocation.amount | money -}}
                          )
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}

                  {%- if line_item.fulfillment -%}
                    <div class="fulfillment">
                      {%- assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' -%}
                      <span>{{ 'customer.order.fulfilled_at_html' | t: date: created_at }}</span>

                      {%- if line_item.fulfillment.tracking_url -%}
                        <a href="{{ line_item.fulfillment.tracking_url }}">
                          {{ 'customer.order.track_shipment' | t }}
                        </a>
                      {%- endif -%}
                      <span>
                        {{ line_item.fulfillment.tracking_company }}
                        {%- if line_item.fulfillment.tracking_number -%}
                          #{{ line_item.fulfillment.tracking_number }}
                        {%- endif -%}
                      </span>
                    </div>
                  {%- endif -%}
                </div>
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnSku"
                role="cell"
                data-label="{{ 'customer.order.sku' | t }}"
              >
                {{ line_item.sku }}
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnPrice"
                role="cell"
                data-label="{{ 'customer.order.price' | t }}"
              >
                {%- if line_item.original_price != line_item.final_price or line_item.unit_price_measurement -%}
                  <dl>
                    {%- if line_item.original_price != line_item.final_price -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd class="regular-price">
                        <s>{{ line_item.original_price | money }}</s>
                      </dd>
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                      </dt>
                      <dd>
                        <span>{{ line_item.final_price | money }}</span>
                      </dd>
                    {%- else -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                      </dt>
                      <dd>
                        {{ line_item.original_price | money }}
                      </dd>
                    {%- endif -%}
                    {%- if line_item.unit_price_measurement -%}
                      <dt>
                        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                      </dt>
                      <dd class="unit-price">
                        <span>
                          {%- capture unit_price_separator -%}
                            <span aria-hidden="true">/</span
                            ><span class="visually-hidden">{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                          {%- endcapture -%}
                          {%- capture unit_price_base_unit -%}
                            {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                              {{- line_item.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ line_item.unit_price_measurement.reference_unit }}
                          {%- endcapture -%}
                          <span data-unit-price>{{ line_item.unit_price | money }}</span>
                          {{- unit_price_separator -}}
                          {{- unit_price_base_unit -}}
                        </span>
                      </dd>
                    {%- endif -%}
                  </dl>
                {%- else -%}
                  <span>{{ line_item.final_price | money }}</span>
                {%- endif -%}
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnQuantity"
                role="cell"
                data-label="{{ 'customer.order.quantity' | t }}"
              >
                {{ line_item.quantity }}
              </td>
              <td
                headers="Row{{ line_item.key }} ColumnTotal"
                role="cell"
                data-label="{{ 'customer.order.total' | t }}"
              >
                {%- if line_item.original_line_price != line_item.final_line_price -%}
                  <dl>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.price.regular_price' | t }}</span>
                    </dt>
                    <dd class="regular-price">
                      <s>{{ line_item.original_line_price | money }}</s>
                    </dd>
                    <dt>
                      <span class="visually-hidden">{{ 'products.product.price.sale_price' | t }}</span>
                    </dt>
                    <dd>
                      <span>{{ line_item.final_line_price | money }}</span>
                    </dd>
                  </dl>
                {%- else -%}
                  {{ line_item.original_line_price | money }}
                {%- endif -%}
              </td>
            </tr>
          {%- endfor -%}
        </tbody>
        <tfoot role="rowgroup">
          <tr role="row">
            <td id="RowSubtotal" role="rowheader" scope="row" colspan="4">
              {{ 'customer.order.subtotal' | t }}
            </td>
            <td headers="RowSubtotal" role="cell" data-label="{{ 'customer.order.subtotal' | t }}">
              {{ order.line_items_subtotal_price | money }}
            </td>
          </tr>
          {%- if order.cart_level_discount_applications != blank -%}
            <tr role="row">
              {%- for discount_application in order.cart_level_discount_applications -%}
                <td id="RowDiscount" role="rowheader" scope="row" colspan="4">
                  {{ 'customer.order.discount' | t }}
                  <span class="cart-discount">
                    <span class="svg-wrapper">
                      {{- 'icon-discount.svg' | inline_asset_content -}}
                    </span>
                    {{- discount_application.title | escape -}}
                  </span>
                </td>
                <td headers="RowDiscount" role="cell" data-label="{{ 'customer.order.discount' | t }}">
                  <div>
                    <span>-{{ discount_application.total_allocated_amount | money }}</span>
                    <span class="cart-discount">
                      <span class="svg-wrapper">
                        {{- 'icon-discount.svg' | inline_asset_content -}}
                      </span>
                      {{- discount_application.title | escape -}}
                    </span>
                  </div>
                </td>
              {%- endfor -%}
            </tr>
          {%- endif -%}
          {%- for shipping_method in order.shipping_methods -%}
            <tr role="row">
              <td id="RowShipping" role="rowheader" scope="row" colspan="4">
                {{ 'customer.order.shipping' | t }} ({{ shipping_method.title | escape }})
              </td>
              <td
                headers="RowShipping"
                role="cell"
                data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title | escape }})"
              >
                {{ shipping_method.price | money }}
              </td>
            </tr>
          {%- endfor -%}
          {%- for tax_line in order.tax_lines -%}
            <tr role="row">
              <td id="RowTax" role="rowheader" scope="row" colspan="4">
                {{ 'customer.order.tax' | t }} ({{ tax_line.title | escape }}
                {{ tax_line.rate | times: 100 }}%)
              </td>
              <td
                headers="RowTax"
                role="cell"
                data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title | escape }} {{ tax_line.rate | times: 100 }}%)"
              >
                {{ tax_line.price | money }}
              </td>
            </tr>
          {%- endfor -%}
          {%- if order.total_duties -%}
            <tr role="row">
              <td id="RowDuties" role="rowheader" scope="row" colspan="4">{{ 'customer.order.total_duties' | t }}</td>
              <td headers="RowDuties" role="cell" data-label="{{ 'customer.order.total_duties' | t }}">
                {{ order.total_duties | money }}
              </td>
            </tr>
          {%- endif -%}
          {%- if order.total_refunded_amount > 0 -%}
            <tr role="row">
              <td id="RowTotalRefund" role="rowheader" scope="row" colspan="3">
                {{ 'customer.order.total_refunded' | t }}
              </td>
              <td
                headers="RowTotalRefund"
                role="cell"
                colspan="2"
                data-label="{{ 'customer.order.total_refunded' | t }}"
              >
                -{{ order.total_refunded_amount | money_with_currency }}
              </td>
            </tr>
          {%- endif -%}
          <tr role="row">
            <td id="RowTotal" role="rowheader" scope="row" colspan="3">{{ 'customer.order.total' | t }}</td>
            <td headers="RowTotal" role="cell" colspan="2" data-label="{{ 'customer.order.total' | t }}">
              {{ order.total_net_amount | money_with_currency }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div>
      <div>
        <h2>{{ 'customer.order.billing_address' | t }}</h2>
        <p>
          <strong>{{ 'customer.order.payment_status' | t }}:</strong>
          {{ order.financial_status_label }}
        </p>
        {{ order.billing_address | format_address }}
      </div>
      <div>
        <h2>{{ 'customer.order.shipping_address' | t }}</h2>
        <p>
          <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
          {{ order.fulfillment_status_label }}
        </p>
        {{ order.shipping_address | format_address }}
      </div>
    </div>
  </div>
</div>

<script>

    // document.getElementById('submitReview').addEventListener('click', function () {
    //     const form = document.getElementById('reviewForm');
    //     const formData = new FormData(form);

    //     const data = {
    //         url: formData.get('url'),
    //         shop_domain: formData.get('shop_domain'),
    //         platform: formData.get('platform'),
    //         name: formData.get('name'),
    //         email: formData.get('email'),
    //         rating: parseInt(formData.get('rating'), 10),
    //         title: formData.get('title'),
    //         body: formData.get('body'),
    //         id: formData.get('id')
    //     };

    //     axios.post('https://judge.me/api/v1/reviews', data)
    //         .then(response => {
    //             alert('Review submitted successfully!');
    //             console.log(response.data);
    //             const modal = bootstrap.Modal.getInstance(document.getElementById('reviewModal'));
    //             modal.hide();
    //         })
    //         .catch(error => {
    //             alert('Failed to submit review. Please try again.');
    //             console.error(error);
    //         });
    // });
</script>

{% schema %}
{
  "name": "t:sections.main-order.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 64
    }
  ]
}
{% endschema %}
