{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}



<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/parsleyjs/src/parsley.css">



<div class="container-fluid container-registration-fluid">
  <div class="row">
    <div class="col-md-4 col-lg-6 d-none d-md-block">

      
          <div class="form-banner-block">
            <div class="block-banner-image-rectangle d-none d-lg-block">
              <img src="https://886076-cc.myshopify.com/cdn/shop/files/Rectangle_45_large.png?v=1732317683" alt="Original Image">
            </div>

            <div class="block-description" style="background-image: url('//886076-cc.myshopify.com/cdn/shop/files/Ellipse_144_774c90c5-0775-439a-9e90-316a593d1aae_medium.png?v=1732316006');"> 
              <div class="block-description-text">
                <p>
                  Welcome to better health, starting now
                </p>
              </div>
            </div>
              
            <div class="block-banner-image">
              <img src="https://886076-cc.myshopify.com/cdn/shop/files/image_large.jpg?v=1732317469" alt="Original Image">
            </div>
          </div>

    </div>
    <div class="col-12 col-md-7 col-lg-4 offset-lg-1">
      <div class="customer registration-form">

<div class="customer reset-password section-{{ section.id }}-padding">
  <h2>
    {{ 'customer.reset_password.title' | t }}
  </h2>
  <p>
    {{ 'customer.reset_password.subtext' | t }}
  </p>
  {%- form 'reset_customer_password', id: 'reset-password-form', data_parsley_validate: true -%}
    {%- if form.errors -%}
      <h2 class="form__message" tabindex="-1" autofocus>
        <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
        <span class="svg-wrapper">
          {{- 'icon-error.svg' | inline_asset_content -}}
        </span>
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}

    <div class="form-input-wrap form-floating-label">
      <input
        type="password"
        name="customer[password]"
        id="password"
        class="w-100"
        autocomplete="new-password"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="password-error"
        {% endif %}
        placeholder=""
        required data-parsley-minlength="8"
        data-parsley-errors-container="#password-errors"
      >
      <label for="password">
        {{ 'customer.reset_password.password' | t }}
      </label>
      <div id="password-errors"></div>
      {%- if form.errors contains 'password' -%}
        <small id="password-error" class="form__message">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{ form.errors.translated_fields.password | capitalize }}
          {{ form.errors.messages.password }}
        </small>
      {%- endif -%}
    </div>

    <div class="form-input-wrap form-floating-label">
      <input
        type="password"
        name="customer[password_confirmation]"
        id="password_confirmation"
        class="w-100"
        autocomplete="new-password"
        {% if form.errors contains 'password_confirmation' %}
          aria-invalid="true"
          aria-describedby="password_confirmation-error"
        {% endif %}
        placeholder=""
        required data-parsley-equalto="#password"
        data-parsley-errors-container="#password-conf-errors"
      >
      <label for="password_confirmation">
        {{ 'customer.reset_password.password_confirm' | t }}
      </label>
      <div id="password-conf-errors"></div>
      {%- if form.errors contains 'password_confirmation' -%}
        <small id="password_confirmation-error" class="form__message">
          <span class="svg-wrapper">
            {{- 'icon-error.svg' | inline_asset_content -}}
          </span>
          {{ form.errors.translated_fields.password_confirmation | capitalize }}
          {{ form.errors.messages.password_confirmation }}
        </small>
      {%- endif -%}
    </div>

    <button type="submit" class="btn btn-primary w-100">
      {{ 'customer.reset_password.submit' | t }}
    </button>
  {%- endform -%}
</div>



        
      </div>
    </div>
  </div>
</div>

<script src="{{ 'parsley.min.js' | asset_url }}"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    window.Parsley.options.errorsContainer = function (field) {
        // Look for a custom container for errors based on field's ID
        return document.querySelector(`#${field.element.id}-errors`) || field.$element.parentNode;
    };

    // Find the form element
    const form = document.querySelector('#reset-password-form');
    console.log(typeof window.Parsley); // Check if Parsley.js is available

    if (form) {
        // Initialize Parsley manually using Factory
        const parsleyInstance = new window.Parsley.Factory(form);
        console.log('Parsley instance:', parsleyInstance);

        // Add a submit event listener to the form
        form.addEventListener('submit', (event) => {
            // Prevent the default form submission only if the form is invalid
            if (!parsleyInstance.isValid()) {
                event.preventDefault(); // Stop form submission
                console.log('Please fix the errors in the form.');
            } else {
                console.log('The form is valid. Submitting...');
                // The form will be submitted as the default behavior
            }
        });
    } else {
        console.error('Form not found!');
    }
});


</script>

    
<style>
  .customer.registration-form .customer form {
    margin-top: 0;
  }
  
  .customer.registration-form  .customer button {
    margin: 0;
  }
  
</style>

{% schema %}
{
  "name": "t:sections.main-reset-password.name",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 64
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 64
    }
  ]
}
{% endschema %}
